[Unit]
Description=avocadoserver daemon
After=network.target

[Service]
User=root
WorkingDirectory=/var/tmp
ExecStart=/bin/gunicorn --chdir /var/lib/avocado-server/database -u avocadoserver -g avocadoserver -p /var/run/avocadoserver.pid -b 0.0.0.0:9405 avocadoserver.wsgi:application
ExecReload=/bin/kill -s HUP ${MAINPID}
PrivateTmp=false

[Install]
WantedBy=multi-user.target
